# Python:
*.py[cod]
*.so
*.egg
*.egg-info
dist
build

#Django
awx/main/migrations

# Others
*.sqlite3
awx/public
awx/ui/templates
reports
.idea
awx/ui/.deps_built
awx/ui/static
Dockerfile
**/node_modules
*.xls
*.xlsx
*.log
/pydata-book-1st-edition-test/.ipynb_checkpoints/
/pydata-book-1st-edition-test/sla/.ipynb_checkpoints/
/pydata-book-1st-edition/.ipynb_checkpoints/
